<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Grayscale - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/grayscale.min.css" rel="stylesheet">

    <!-- croppie-->
    <link rel="stylesheet" href="/static/css/croppie.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>

<style>
    label.cabinet{
        display: block;
        cursor: pointer;
    }

    label.cabinet input.file{
        position: relative;
        height: 100%;
        width: auto;
        opacity: 0;
        -moz-opacity: 0;
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        margin-top:-30px;
    }

    #upload-demo{
        width: 250px;
        height: 250px;
        padding-bottom:25px;
    }
    figure figcaption {
        position: absolute;
        bottom: 0;
        color: #fff;
        width: 100%;
        padding-left: 9px;
        padding-bottom: 5px;
        text-shadow: 0 0 10px #000;
    }

    .fit {
      max-width: 35%;
      max-height: 35%;
    }

</style>


<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#" onclick="startOver()">Start Over</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Header -->
<header id="header" class="masthead" style="display: block;">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Style Transfer</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">A Multi-functional Art Style Transfer Solution Trained By a Convolutional Neural Network</h2>
            <form id="image_form" method="post" enctype="multipart/form-data" action="{{ url_for('index') }}">
                <div>
                    <label class="btn btn-primary mx-auto"> Choose Your Picture
                        <input type='file' class="item-img" name="file_photo" style="display: none;">
                    </label>
                    <br>
{#                    <textarea id="output" name="output_image" value="" style="display: none"/></textarea>#}
                </div>
            </form>

            <div class="inline-block" id="image_output" style="display: none">
                <img src="" class="fit" id="item-img-origin" alt="display_image"/>
{#                <canvas id="myCanvas2" class="fit" style="border:5px solid #d3d3d3;"></canvas>#}
            </div>

            <div class="inline-block" id="image" style="display: none">
                <img src="" class="fit" id="item-img-output" alt="display_image"/>
{#                <canvas id="myCanvas1" class="fit" style="border:5px solid #d3d3d3;"></canvas>#}
            </div>

            <div id="next" style="display: none;">
                <br>
                <br>
                <button class="btn btn-primary mx-auto" onclick="switchtoAbout()">Next Step</button>
            </div>

            <div class="modal fade" id="cropImagePop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Choose the Foreground</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <div><small><b>Click "Close" If You Do Not Need Partial Style Transfer</b></small></div>
                            <br>
                            <div id="upload-demo" style="text-align: center"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="showPicture()">Close</button>
                            <button type="button" id="cropImageBtn" class="btn btn-primary">Crop</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="about-section text-center" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">Partial Style Transfer (Foreground/Background)</h2>
                <p><button class="btn btn-primary mx-auto" onclick="switchtoProjects()">Next Step</button></p>
            </div>
        </div>
        <img src="/static/img/ipad.png" class="img-fluid" alt="">
    </div>
</section>

<!-- Projects Section -->
<section id="projects" class="projects-section bg-light" style="display: none;">
    <div class="container">
        <div align="center">
            <button class="btn btn-primary mx-auto" onclick="switchtoSignup()">Your Selection</button>
            <br>
            <br>
        </div>
        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" src="/static/img/bg-masthead.jpg" alt="">
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Shoreline</h4>
                    <p class="text-black-50 mb-0">Grayscale is open source and MIT licensed. This means you can use it
                        for any project - even commercial projects! Download it, customize it, and publish your
                        website!</p>
                </div>
            </div>
        </div>

        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6">
                <img class="img-fluid" src="/static/img/demo-image-01.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Misty</h4>
                            <p class="mb-0 text-white-50">An example of where you can put an image of a project, or
                                anything else, along with a description.</p>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
            <div class="col-lg-6">
                <img class="img-fluid" src="/static/img/demo-image-02.jpg" alt="">
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Mountains</h4>
                            <p class="mb-0 text-white-50">Another example of a project with its respective description.
                                These sections work well responsively as well, try this theme on a small screen!</p>
                            <hr class="d-none d-lg-block mb-0 mr-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Signup Section -->
<section id="signup" class="signup-section" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">

                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <h2 class="text-white mb-5">Subscribe to receive updates!</h2>
                <button type="submit" class="btn btn-primary mx-auto" form="image_form">Submit</button>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section class="contact-section bg-black">
    <div class="container">

        <div class="row">

            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Address</h4>
                        <hr class="my-4">
                        <div class="small text-black-50">4923 Market Street, Orlando FL</div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4">
                        <div class="small text-black-50">
                            <a href="#">hello@yourdomain.com</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4">
                        <div class="small text-black-50">+1 (555) 902-8832</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="social d-flex justify-content-center">
            <a href="#" class="mx-2">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="mx-2">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="mx-2">
                <i class="fab fa-github"></i>
            </a>
        </div>

    </div>
</section>

<!-- Footer -->
<footer class="bg-black small text-center text-white-50">
    <div class="container">
        Copyright &copy; Your Website 2018
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/static/js/grayscale.min.js"></script>

<script src="/static/js/croppie.js"></script>

</body>

</html>

<script>

    $('#item-img-output').on('click', function () {
        var c = document.getElementById("myCanvas1");
        var ctx = c.getContext("2d");
        var img = document.getElementById("item-img-output");
        ctx.drawImage(img, 0, 0);
        var c2 = document.getElementById("myCanvas2");
        var ctx2 = c2.getContext("2d");
        var img2 = document.getElementById("item-img-origin");
        ctx2.drawImage(img2, 0, 0);
    });

    function switchtoAbout() {
        document.getElementById('about').style.display = "block";
        document.getElementById('projects').style.display = "none";
        document.getElementById('signup').style.display = "none";
        document.getElementById('header').style.display = "none";

    }

    function switchtoProjects() {
        document.getElementById('about').style.display = "none";
        document.getElementById('projects').style.display = "block";
        document.getElementById('signup').style.display = "none";
        document.getElementById('header').style.display = "none";

    }

    function switchtoSignup() {
        document.getElementById('about').style.display = "none";
        document.getElementById('projects').style.display = "none";
        document.getElementById('signup').style.display = "block";
        document.getElementById('header').style.display = "none";

    }

    function startOver() {
        location.reload();
        document.getElementById('about').style.display = "none";
        document.getElementById('projects').style.display = "none";
        document.getElementById('signup').style.display = "none";
        document.getElementById('header').style.display = "block";

    }

    function showPicture() {
        document.getElementById("image_output").style.display = "inline";
        document.getElementById("next").style.display = "inline";
    }

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(256)
                    .height(256);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    // Start upload preview image
    $(".gambar").attr("src");
    var $uploadCrop,
        tempFilename,
        rawImg,
        imageId;

    function readFile(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('.upload-demo').addClass('ready');
                $('#cropImagePop').modal('show');
                rawImg = e.target.result;
                $('#item-img-origin')
                    .attr('src', e.target.result)
            };
            reader.readAsDataURL(input.files[0]);
        }
        else {
            swal("Sorry - you're browser doesn't support the FileReader API");
        }
    }

    $uploadCrop = $('#upload-demo').croppie({
        viewport: {
            width: 128,
            height: 128,
        },
        enforceBoundary: false,
        enableExif: true
    });
    $('#cropImagePop').on('shown.bs.modal', function(){
        // alert('Shown pop');
        $uploadCrop.croppie('bind', {
            url: rawImg
        }).then(function(){
            console.log('jQuery bind complete');
        });
    });

    $('.item-img').on('change', function () {
        imageId = $(this).data('id');
        tempFilename = $(this).val();
        $('#cancelCropBtn').data('id', imageId);
        readFile(this);
    });

    $('#cropImageBtn').on('click', function (ev) {
        $uploadCrop.croppie('result', {
            type: 'base64',
            format: 'jpeg',
            size: {width: 128, height: 128},
        }).then(function (resp) {
            $('#item-img-output').attr('src', resp);
            {#document.getElementById('output').value = resp;#}
            document.getElementById("image").style.display = "inline";
            document.getElementById("next").style.display = "inline";
            document.getElementById('image_output').style.display = "inline";
            $('#cropImagePop').modal('hide');
        });
        var detail = $uploadCrop.croppie('get');
        var points = detail.point;
        console.log(JSON.stringify(detail.points));

        $.ajax({
            type: "POST",
            url: "/",
            contentType: "application/json charset=utf-8",
            data: JSON.stringify(points),
            dataType: "json",
            success: function(response) {
                console.log(response);
            },
            error: function(err) {
                console.log(err);
            }
        });
    
    });
    // End upload preview image
</script>